*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    text-decoration: none;
}
a{
    color: black;
}
body{
    width: 100vw;
    height: 100vh;
    /* 스크랩 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}